/*Amit Levy - 311133433  */
/*Yaniv Ziperfal - 203311303*/

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  outline: none;
}

h1 {
  position: relative;
  top: 60px;
}

#canvas {
  margin-top: 70px;
  border: 1px solid black;
  border-radius: 4px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.radio-btn {
  margin-top: 5px;
}

#radio-group {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  width: 350px;
}

#canvas-container {
  display: flex;
}

#action-icons {
  display: flex;
  flex-direction: column;
  height: 700px;
  margin-top: 70px;
  margin-right: 20px;
}

#action-icons input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.container {
  position: relative;
}

.hidden-btn {
  position: absolute;
  right: 60px;
  width: 35px !important;
}

.hide-element {
  display: none;
}

.selected {
  box-shadow: 0 0 0 2px;
}

label {
  position: absolute;
  right: 75px;
  bottom: 65px;
}
